#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
}

.footer .container {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
}

/* footer-top-row */
.footer .top-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .top-row .name {
  display: inline-flex;
  align-items: center;
  color: #282c34;
  font-weight: bold;
  margin: 0;
  display: block;
}

.footer .top-row .location {
  display: inline-flex;
  align-items: center;
  color: #282c34;
  margin: 0;
  padding: 0;
  display: block;
}

/* footer-bottom-row */
.footer .bottom-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .bottom-row .links {
  display: flex;
}

.footer .link {
  margin-right: 8px;
  color: #333;
  text-decoration: none;
}

.footer .link:hover {
  color: red;
}

.footer .names {
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}

.footer .social-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer .social-icons a {
  color: #333;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: red;
}

.footer .icon-spacing {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .footer .bottom-row .links {
    display: flex;
    flex-direction: column;
  }

  .footer .names {
    font-size: 0.9em;
    align-self: flex-end;
    inline-size: 178px;
  }
}

/* smaller screens (mobile) */
@media (max-width: 600px) {
  .footer .top-row .name {
    inline-size: 250px;
  }

  .footer .top-row .location {
    width: max-content;
  }

  .footer .top-row {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .social-icons {
    margin-top: 10px;
  }
  
  .footer .social-icons a {
    padding-right: 20px;
  }

  .footer .bottom-row {
    display: flex;
  } 
}