#footer {
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: #f0f0f0;
  position: relative;
  flex-shrink: 0;
}

.footer-container {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /* margin-top: 10px; */
  padding: 15px;
  /* padding-top: 8px; */
  /* justify-content: space-between; */
  align-items: center;
}

/* footer-top-row */
.footer-top-row {
  margin: 0 auto;
  padding-bottom: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-row-name {
  display: inline-flex;
  align-items: center;
  color: #282c34;  
  font-size: 30px;
  margin: 0;
  vertical-align: middle;
}

.footer-top-row-location {
  display: inline-flex;
  align-items: center;
  color: #282c34;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* footer-bottom-row */
.footer-bottom-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-row-links {
  /* display:flex; */
  /* align-items: center; */
}

.footer-link {
  margin-right: 10px;
}

.footer-names {
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px 0 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* smaller screens (mobile) */
/* @media (max-width: 600px) { */
@media (max-width: 650px) {
  .footer-top-row-name {
    inline-size: 250px;
  }

  .footer-top-row-location {
    width: max-content;
  }

  .footer-top-row {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer-social-icons {
    margin-top: 10px;
  }

  /* bottom row */
  .footer-bottom-row {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: start; */
  } 

  .footer-bottom-row-links {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .footer-names {
    align-items: end;
    /* inline-size: min-content; */
  }

}