.gallery {
    overflow: hidden;
}

.gallery-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80.25vw;
}

.gallery-item img {
    min-width: 12.5vw;
    height: auto;
    border-radius: 8px;
}

.inner-gallery {
    white-space: nowrap;
    transition: transform 0.3s;
}
