.gallery {
    overflow: hidden;
    
    /* position: relative; */
}

.gallery-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: calc(100% / 4); */
    /* color: #1d1d1f; */


    /* width: 100%;
    overflow: hidden;
    position: relative; */
}

.gallery-item img {
    min-width: 12.5vw;
    height: auto;
    border-radius: 8px;
}

.inner-gallery {
    white-space: nowrap;
    transition: transform 0.3s;

    /* height: 100%;
    display: flex;
    position: relative; */

}
