.our-wines-heading {
    text-align: center;
}

.our-story-subheading {
    text-align: center;
    margin-bottom: 10px;
}

.our-wines-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.our-wines-img-container {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
}

.our-wines-img {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.our-wines-img-skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(88, 86, 86, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 5;
    transition: opacity 0.3s;
}

/* the image caption that is revealed when hovered over */
.img-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.our-wines-img-container.hovered .img-caption {
    opacity: 1;
}