.privacy-policy-body {
  font-size: 18px;
}

.privacy-policy-link {
  font-weight: bold;
  align-content: center;
  color: #333;
}

.privacy-policy-link:hover {
  color: red;
}

.privacy-policy-server-list ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}