.privacy-policy-body {
  font-size: 18px;
}

.privacy-policy-link {
  font-weight: bold;
  align-content: center;
}

.privacy-policy-server-list ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}